<a href="https://colab.research.google.com/github/Alsten-Tauro/Applications-of-Python-Programming-in-Data-Analytics-and-Machine-Learning/blob/master/Day_2_session_2_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exercises- Tests

#1.Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [0]:
import operator
n=int(input("Enter no of students"))
d={}
for i in range(1,n+1):
    name= input("Enter name %d "%(i))
    mark=int(input("Enter mark %d "%(i)))
    d[name]=mark
sorted_d = sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print(sorted_d)

Enter no of students3
Enter name 1 alsten
Enter mark 1 88
Enter name 2 elston
Enter mark 2 89
Enter name 3 rohit
Enter mark 3 99
[('rohit', 99), ('elston', 89), ('alsten', 88)]

#2.Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [0]:
import operator
n=int(input("Enter no of Employees"))
d={}
for i in range(1,n+1):
    name= input("Enter name %d "%(i))
    salary=int(input("Enter salary %d "%(i)))
    d[name]=salary
sorted_d = sorted(d.items(), key=operator.itemgetter(0))
print(sorted_d)

Enter no of Employees3
Enter name 1 Ram
Enter salary 1 50000
Enter name 2 Alsten
Enter salary 2 60000
Enter name 3 Elston
Enter salary 3 60000
[('Alsten', 60000), ('Elston', 60000), ('Ram', 50000)]

#3.Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order and  sum, max, min and average of the salaries

In [0]:
import operator 
n=int(input("Enter no of Employees"))
d={}
for i in range(1,n+1):
    name= input("Enter name %d "%(i))
    salary=int(input("Enter salary %d "%(i)))
    d[name]=salary
sorted_d = sorted(d.items(), key=operator.itemgetter(0))
print(sorted_d)
print("Sum of salaries ",sum(d.values()))
print("Max of salaries ",max(d.values()))
print("Min of salaries ",min(d.values()))
print("Avg of salaries ",sum(d.values())/len(d.values()))

Enter no of Employees3
Enter name 1 Alsten
Enter salary 1 50000
Enter name 2 Dhanya
Enter salary 2 60000
Enter name 3 Elston
Enter salary 3 90000
[('Alsten', 50000), ('Dhanya', 60000), ('Elston', 90000)]
Sum of salaries  200000
Max of salaries  90000
Min of salaries  50000
Avg of salaries  66666.66666666667

#4.Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [0]:
import operator 
n=int(input("Enter no of Employees"))
d={}
for i in range(1,n+1):
    name= input("Enter name %d "%(i))
    salary=int(input("Enter salary %d "%(i)))
    d[name]=salary
for (k,v) in d.items():
  if(v>2000 and v<4000):
    print(k,":",v)

Enter no of Employees2
Enter name 1 alsten
Enter salary 1 3500
Enter name 2 elston
Enter salary 2 6000
alsten : 3500

#5.Python program to convert a 3 digit number  into words

In [0]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fouteen',15:'fifteen',16:'sixteen',17:'seventeen',18:'eighteen',19:'nineteen',20:'twenty',30:'thirty',40:'forty',50:'fifty',60:'sixty',70:'seventy',80:'eighty',90:'ninety',100:'hundred'}
num=int(input('Enter the 3 digit number'))
if num<=20:
    print(d[num])
elif num>20 and num<100:
    if num%10 ==0:
          print(d[num])
    else:
          print(d[num//10*10]+" "+d[num%10])
elif num>=100 and num<1000:
    if num%100==0:
          print(d[num//100]+" "+d[100])
    else:
          print(d[num//100]+" "+d[100]+" "+d[num%100//10*10]+" "+d[num%10])

Enter the 3 digit number125
one hundred twenty five

#Files Exercises

#1.Python Program to count the total number of charaters (except blank space) in a text file

In [6]:
fname = input("Enter file name: ")
char_words = 0
with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        for char in words:
          if(len(char)>1):
            char_words += len(char)
print("Number of characters: ")
print(char_words)

Enter file name: sample.txt
Number of characters:
61

#2.Python Program to print all the numbers present in a text file with its total number of occurrence.

In [7]:
fname = input("Enter file name: ")
text = open(fname, "r") 
  
num=[0,1,2,3,4,5,6,7,8,9]
d = dict() 


for line in text: 
    line = line.strip() 
    line = line.lower() 
    words = line.split(" ") 
    for word in words: 
        for dig in word:
          #print(digit)
          if(dig.isdigit()):
            #print(dig)
            if (dig in d): 
              #print(dig)
              d[dig] = d[dig] + 1
            else:
              d[dig] = 1
  
for key in list(d.keys()): 
    print(key, ":", d[key])

Enter file name: sample.txt
5 : 1

#3.Python Program to append the contents of one file to another file by getting the both file names through keyboard

In [8]:
source=input("Enter source file ")
dest=input("Enter destination file")
with open(source) as f:
    with open(dest, "a") as f1:
        for line in f:
            f1.write(line)

Enter source file sample.txt
Enter destination fileb.txt

#4.Python Program to count the number of blank spaces in a text file.

In [9]:
fname = input("Enter file name: ")
k = 0
 
with open(fname, 'r') as f:
  for line in f:
    words = line.split()
    for i in words:
      for letter in i:
        if(letter.isspace):
          k=k+1
print("Occurrences of blank spaces:")
print(k)

Enter file name: sample.txt
Occurrences of blank spaces:
63

#5.Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content  into another file and read it .

In [10]:
fname = input("Enter file name: ")
with open(fname, 'r') as f:
  with open("out.txt", "w") as f1:
    for line in f:
        l=line.title()
        f1.write(l)
file2=open("out.txt",'r')
line=file2.readline()
while(line!=""):
    print(line)
    line=file2.readline()
file2.close()

Enter file name: sample.txt
Education For All.

Travel Around The World In 5 Minutes.

A World Of Wonders.