<a href="https://colab.research.google.com/github/Alsten-Tauro/Applications-of-Python-Programming-in-Data-Analytics-and-Machine-Learning/blob/master/Day_2_session_1_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#List Exercises

#1.Print multiples of 3 upto 200 using a list

In [0]:
lower_range=3
upper_range=200
a=[x for x in range(lower_range,upper_range+1) if x%3==0]
print(a)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

#2.Print the nos only divisible by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [0]:
l_range=1000
u_range=2000
a=[x for x in range(l_range,u_range+1) if (x%5==0 and x%7==0)]
print(a)

[1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]

#3.Add the n number of names in a list and print them alphabetically and reverse alphabetically.

In [0]:
a=[]
n=int(input("Enter the value of n: "))
for i in range(n):
  name=input("Enter the name:")
  a.append(name)
a.sort()
print(a)
a.sort(reverse=True)
print(a)

Enter the value of n: 4
Enter the name:Sachin
Enter the name:Alsten
Enter the name:Rohit
Enter the name:Zebra
['Alsten', 'Rohit', 'Sachin', 'Zebra']
['Zebra', 'Sachin', 'Rohit', 'Alsten']

#4.Print perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list

In [0]:
import math
def perfect(n):
  root=math.sqrt(n)
  if int(root+0.5)**2==n:
    return True
  else:
    return False
l_range=500
u_range=1000
a=[x for x in range(l_range,u_range+1) if(perfect(x) and x%5==0)]
print(a)

[625, 900]

#Tuple exercises

#1.Get a string and store word by word as elements in a tuple and find the largest word in the tuple and print it

In [0]:
a=[]
string=input("Enter the string: ")
for word in string.split():
  a.append((len(word),word))
a.sort(reverse=True)
res=list()
for length,word in a:
  res.append(word)
print("The largest word is: ",res[0])

Enter the string: Education for all
The largest word is:  Education

#2.Get rollno and marks (Rollno, mark) as list of tuples for n number of students through keyboard and print them in marks descending order with rollno.

In [0]:
from operator import itemgetter
a=[]
n=int(input("Enter the value of n:"))
for i in range(n):
  rollno=int(input("Enter rollno:"))
  marks=int(input("Enter marks:"))
  a.append((rollno,marks))
  b=sorted(a,key=itemgetter(1),reverse=True)
print(b)

Enter the value of n:5
Enter rollno:7
Enter marks:99
Enter rollno:4
Enter marks:95
Enter rollno:6
Enter marks:100
Enter rollno:3
Enter marks:85
Enter rollno:1
Enter marks:96
[(6, 100), (7, 99), (1, 96), (4, 95), (3, 85)]

#3.Get name and salary (name, salary) as list of tuples for n number of employees through keyboard and print them in name alphabetical order with salary

In [0]:
from operator import itemgetter
a=[]
n=int(input("Enter the value of n:"))
for i in range(n):
  name=(input("Enter name:"))
  salary=int(input("Enter salary:"))
  a.append((name,salary))
  b=sorted(a,key=itemgetter(0))
print(b)

Enter the value of n:4
Enter name:Rohit
Enter salary:45000
Enter name:Alsten
Enter salary:55000
Enter name:Sachin
Enter salary:90000
Enter name:Dhanya
Enter salary:35000
[('Alsten', 55000), ('Dhanya', 35000), ('Rohit', 45000), ('Sachin', 90000)]